{% extends 'base.html' %}

{% block content %}
    <div class="eventos">
        {% if conferencias %}
            <h1>Conferencias: {{ hoy }} </h1>
            <hr>
            <ul>
                {% for conferencia in conferencias %}
                <li>
                    <div class="foto">
                        <img src="/archivos/{{ conferencia.evento.portada }}">
                    </div>
                    <div class="info">
                        <h2>{{ conferencia.titulo }}</h2>
                        <p>{{ conferencia.descripcion|safe }}</p>
                        <p>{{conferencia.evento.fecha_inicio.date}} {{ conferencia.evento.fecha_inicio|date:"H:i" }} hasta {{ conferencia.evento.fecha_fin|date:"H:i" }}</p>                    
                    </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h2>No se han cargado conferencias autorizadas</h2>
            <p>Por favor comience a agregar contenido <a href="/admin/core/conferencia">aqui</a></p>
        {% endif %}
    </div>
    <br><br>
{% endblock %}