{% extends 'base.html' %}

{% block content %}
    <h1>Contacto</h1>
    <hr>
    <p>Podes contactarnos:</p>
    <ol>
        <li><b>Email:</b> <a href="bigdata@jujuy.gob.ar ">bigdata@jujuy.gob.ar </a></li>
        <li><b>Dirección:</b> Edificio Infinito por descubrir – Ciudad Cultural</li>
        <li><b>Telefonico:</b>
            <ul>
                <li>Telefono: +54 0388-4221380 int. 144</li>
            </ul>
        </li>
    </ol>
    <hr>
{% endblock %}