{% extends 'base.html' %}

{% block content %}
    {% if expositores %}
        <div class="eventos">
            <h1>Expositores:</h1>
            <hr>
            <ul>
                {% for expositor in expositores %}
                <li>
                    <div class="foto">
                        <img src="/archivos/{{ expositor.foto }}">
                    </div>
                    <div class="info">
                        <h2>{{ expositor.apellido }}, {{ expositor.nombres }}</h2>
                        <p>{{ expositor.descripcion|safe }}</p>
                        {% if expositor.conferencias %}
                            <ul>
                                {% for conferencia in expositor.conferencias.all %}
                                    {% if conferencia.autorizada %}
                                        <li class=conferencias>{{conferencia.titulo}}</li>                           
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h2>No se han cargado expositores autorizadas</h2>
        <p>Por favor comience a agregar contenido <a href="/admin/inscripciones/inscripto/">aqui</a></p>
    {% endif %}
    <br><br>
{% endblock %}