{% extends 'base.html' %}

{% block content %}
    {% if faqs %}
    <div class="quees">
        <div class="seccion-preguntas-frecuentes">
            <ul class="preguntas-frecuentes">
                {% for faq in faqs %}
                <li>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ faq.id }}" aria-expanded="false" aria-controls="collapseExample">
                    {{ faq.pregunta }}
                    </button>
                    <div id="{{ faq.id }}" class="collapse">{{ faq.respuesta | safe }}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include "script_faq.html" %}
    {% else %}
        <h2>No se han cargado preguntas frecuentes</h2>
        <p>Por favor comience a agregar contenido <a href="/admin/core/faq/">aqui</a></p>
    {% endif %}
{% endblock %}
