{% load static %}
{% block content %}
      <footer>
        <div class="social">
          <a href="https://www.facebook.com/jujuybigdatasummit/">
            <span class="icon icon-facebook"></span>
          </a>
          <a href="https://twitter.com/JujuyBigData">
            <span class="icon icon-twitter"></span>
          </a>
          <a href="https://www.youtube.com/channel/UCep7aztJ6J1_0zbXDLLA2QQ?view_as=subscriber">
            <span class="icon icon-youtube"></span>
          </a>
          <a href="https://www.instagram.com/jujuybigdatasummit/">
            <span class="icon icon-instagram"></span>
          </a>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <a href="http://jujuy.gob.ar">
                <img src="{% static 'img/logo_gobierno.png' %}" class="logo" style="margin-top: 10px;width: 200px; heigth:110px;"/>
            </a>
          </div>
          <div class="col-md-2">
            <a href="http://cfi.org.ar/">
                <img src="{% static 'img/logo_cfi.png' %}" class="logo" style="margin-top: 10px; width: 140px; heigth:140px;"/>
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.facebook.com/EndeavorNoa/">
                <img src="{% static 'img/logo_endeavor.png' %}" class="logo" style="margin-top: 10px"/>
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.argentina.gob.ar/modernizacion">
                <img src="{% static 'img/logo_minmodernizacion.png' %}" class="logo" style="margin-top: 10px"/>
            </a>
          </div>
          <div class="col-md-3">
            <a href="http://consultas.jujuy.gob.ar/458/">
                <img class="logo_unif" src="{% static 'img/logo_unif.png' %}" class="logo" style="margin-top: 10px; float: right;"/>
            </a>
          </div>
        </div>
      </footer>
{% endblock %}