{% load static %}
{% block content %}
      <footer>
        <div class="social">
          <a href="https://www.facebook.com/jujuybigdatasummit/">
            <span class="icon icon-facebook"></span>
          </a>
          <a href="https://twitter.com/BigJujuy">
            <span class="icon icon-twitter"></span>
          </a>
          <a href="https://www.youtube.com/channel/UCep7aztJ6J1_0zbXDLLA2QQ?view_as=subscriber">
            <span class="icon icon-youtube"></span>
          </a>
          <a href="https://www.instagram.com/jujuybigdatasummit/">
            <span class="icon icon-instagram"></span>
          </a>
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <img src="{% static 'img/logo_gobierno.png' %}" class="logo" style="margin-top: 10px"/>
          </div>
          <div class="col-md-2">
            <img src="{% static 'img/logo_endeavor.png' %}" class="logo" style="margin-top: 10px"/>
          </div>
          <div class="col-md-2">
            <img src="{% static 'img/logo_minmodernizacion.png' %}" class="logo" style="margin-top: 10px"/>
          </div>
          <div class="col-md-3 col-md-offset-1">

          </div>
          <div class="col-md-2">
            <img src="{% static 'img/logo_footer.png' %}" class="logo" style="margin-top: 10px"/>
          </div>
        </div>
      </footer>
{% endblock %}