{% load static %} {% block content %}
<div class="portada">
    <img src="{% static 'img/header_principal.png' %}" alt="logobigdata">
    <div class="mobile">
        <img src="{% static 'img/header_mob.png' %}" alt="">
    </div>
</div>
{% endblock %}