{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include "reloj.html" %}

    <!-- Iconos informativos -->
    <div class="main_icons">
        <div>
            <a href="/calendario/">
                <img class="main_icon" src="{% static 'img/icons/dias.png' %}" alt="">
                <p class=numero>{{duracion}} Dias</p>
            </a>
        </div>
        <div>
            <a href="/conferencias/">
                <img class="main_icon" src="{% static 'img/icons/conferencias.png' %}" alt="">
                <p class=numero>{{cconferencias}} Conferencias</p>
            </a>
        </div>
        <div>
            <a href="/expositores/">
                <img class="main_icon" src="{% static 'img/icons/speakers.png' %}" alt="">
                <p class=numero>{{cexpositores}} Expositores</p>            
        </div>
        <div>
            <a href="#">
                <img class="main_icon" src="{% static 'img/icons/visitantes.png' %}" alt="">
                <p class=numero>{{casistentes}} Asistentes</p>
            </a>
        </div>
        <span></span>
    </div>

    <!-- Que es? -->
    {% if texto_central %}
        <div class="main_info">
            <div class="main_info_txt">
                {{ texto_central.respuesta | safe}}
                <br>
            </div>
        </div>
    {% else %}
        <h2>No se han cargado preguntas frecuentes</h2>
        <p>Por favor comience a agregar contenido <a href="/admin/core/faq/">aqui</a></p>
    {% endif %}
    
    <!-- Ver online -->
    <div class="main_online">
        <a href="/ver_online/">
            <div class="bttn_online">
                <h1><b>Ver Online</b></h1>
            </div>
        </a>
    </div>

    <!-- Noticias -->
    {% include "carousel.html" %}    

    <!-- Botones para inscribirse -->
    <div class="main_inscripcion">
        <a href="https://www.intercloudy.net/1492/experiencia-endeavor-noa-2019">
            <div class="bttn_inscribite">
                <h1><b>INSCRIBITE</b></h1>
            </div>
        </a>
        <a href="https://www.intercloudy.net/1494/experiencia-endeavor-noa-summit-big-data-prensa">
            <div class="bttn_inscribite">
                <h1><b>PRENSA</b></h1>
            </div>
        </a>
        <!--
            <a href="/inscribir/asistente">
                <div class="bttn_inscribite">
                    <h1><b>INSCRIBITE</b></h1>
                </div>
            </a>
            
            <a href="/inscribir/expositor">
                <div class="bttn_exp"><b>EXPOSITOR</b></div>
            </a>
            
            <div class="bttn_hide"></div>
            <a href="/inscribir/asistente">
                <div class="bttn_ade"><b>ASISTENTE</b></div>
            </a>
        -->
        <br><br>
    </div>
{% endblock %}