{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="main_icons">
        <div>
            <a href="/calendario/">
                <img class="main_icon" src="{% static 'img/dias.png' %}" alt="">
                <p class=numero>3</p>
                <p class="texto">Dias</p>
            </a>
        </div>
        <div>
            <a href="/conferencias/">
                <img class="main_icon" src="{% static 'img/conferencias.png' %}" alt="">
                <p class=numero>{{cconferencias}}</p>
                <p class="texto">Conferencias</p>
            </a>
        </div>
        <div>
            <a href="/expositores/">
                <img class="main_icon" src="{% static 'img/speakers.png' %}" alt="">
                <p class=numero>{{cexpositores}}</p>
                <p class="texto">Expositores</p>
            
        </div>
        <div>
            <a href="#">
                <img class="main_icon" src="{% static 'img/visitantes.png' %}" alt="">
                <p class=numero>{{casistentes}}</p>
                <p class="texto">Asistentes</p>
            </a>
        </div>
        <span></span>
    </div>

    <div class="main_info">
        <div class="main_info_txt">
            {{ texto_central.respuesta | safe}}
        </div>
    </div>

    
    <div class="main_inscripcion">
        <br>
        <h1><b>INSCRIBITE</b></h1>
        <a href="/inscribir/expositor">
            <div class="bttn_exp"><b>EXPOSITOR</b></div>
        </a>
        <div class="bttn_hide"></div>
        <a href="/inscribir/asistente">
            <div class="bttn_ade"><b>ASISTENTE</b></div>
        </a>
        <br><br><br>
    </div>
{% endblock %}

