{% load static %}
{% block content %}
    {% if prox_fecha %}
        <script>
        // Set the date we're counting down to
        var countDownDate = new Date("{{prox_fecha}}").getTime();//Se lo pasamos desde la DB

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="contador"
        document.getElementById("dias").innerHTML = days
        document.getElementById("horas").innerHTML = hours
        document.getElementById("minutos").innerHTML = minutes
        document.getElementById("segundos").innerHTML = seconds
            
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("contador").innerHTML = "El Evento ha Terminado";
        }
        }, 1000);
        </script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
{% endblock %}