{% extends 'base.html' %}


{% block content %}
  <section class="seccion-registro pagina-registro">
  <h2>Registro de Usuario</h2>
  <hr>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}

    <div class="input-group">
      {{ field.label_tag }}<br>
      {{ field }}
      {% for error in field.errors %}
        <p style="color:black">{{ error }}</p>
      {% endfor %}
    </div>

    {% endfor %}
    <button type="submit">Registrarse</button>
  </form>
</section>
{% endblock %}