{% extends 'base.html' %}


{% block content %}
    <div>
        <div class="centrado">
            <iframe src="https://www.youtube.com/embed/lUvpM1O0PSA" 
                frameborder="0" 
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </div>
{% endblock %}