/* BASICOS */

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
    margin-bottom: 150px;
}

main {
    margin-top: 0;
}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus,
a:hover {
    text-decoration: none;
}


/*Portada*/

.portada {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #1c4d657a;
    overflow: hidden;
    text-align: center;
    width: auto;
    padding-top: 0%;
    padding-bottom: 20px;
}

.portada img {
    width: 60%;
    padding: 10px;
}

.portada>.mobile {
    display: none;
}


/*Menu*/

menu {
    position: absolute;
    width: 100%;
    position: fixed;
    height: 70px;
    z-index: 11;
    background-color: #000000;
    box-shadow: 0 3px 25px #000000a3;
    top: 0;
    margin-top: 0px;
}

.menu-logo {
    float: left;
}

.menu-logo img {
    height: 70px;
    top: -5px;
    position: relative;
    padding: 5px;
}

.navbar {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 5px;
    font-family: Archia;
}

.navbar-nav {
    float: right;
    padding-top: 10px;
}

ul.nav li {
    overflow: hidden;
}

ul.nav li:hover {
    overflow: visible;
}

ul.nav li.desplegable a {
    padding-right: 20px;
}

ul.nav li a {
    color: white;
    font-size: 14px;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.59);
    padding-top: 11px;
    padding-bottom: 12px;
}

ul.nav li:hover ul.submenu {
    opacity: 1;
    transition: opacity 0.5s linear;
}

ul.nav li ul.submenu {
    background-color: white;
    font-size: 14px;
    padding: 10px;
    color: #666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 300px;
    text-align: center;
    position: absolute;
    list-style: none;
    opacity: 0;
    transition: opacity 0.1s linear;
}

ul.nav li ul.submenu li {
    text-align: left;
    padding-left: 10px;
    border-bottom: 1px dotted #e2e2e2;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.nav li ul.submenu li a {
    background: none;
    color: inherit !important;
    text-shadow: none;
    font-size: inherit;
    text-decoration: none;
}

ul.nav li ul.submenu li:focus,
ul.nav li ul.submenu li:hover,
ul.nav li ul.submenu li:active {
    color: #cbb171;
    cursor: pointer;
}

ul.nav li span.triangle {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    right: 4px;
    font-size: 10px;
    top: 18px;
}

ul.nav li:hover span.triangle {
    color: #fff;
}

.navbar-collapse.mobile-only {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
    position: absolute;
    top: 69px;
    left: 0;
}

.navbar-collapse.mobile-only .navbar-nav {
    float: none;
    background: #00000082;
    margin: auto;
}

.nav>li:focus a,
.nav>li:hover a,
.nav>li:active a {
    background: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-right {
    margin-top: 5px;
}

.navbar-toggle .icon-bar {
    background: white;
}


/*BEGIN MAIN */

.main_clock {
    text-align: center;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 12em;
    background-color: #2b599d;
}

.main_clock>p {
    color: white;
    font: bold;
    font-size: 3em;
    width: 100%;
}

.main_clock>div {
    width: 17%;
    display: inline-block;
}

.main_clock>div>p {
    color: white;
    font: bold;
    text-align: center;
    font-size: 1, 5em;
}

.main_clock>span {
    width: 100%;
}

.main_clock>b>div.dias {}

.main_clock>b>div.horas {}

.main_clock>b>div.minutos {}

.main_clock>div>div.numero {
    width: 60%;
    margin: 0 auto;
    font-size: 2em;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: #244d8b;
    color: #244d8b;
    border-radius: 10px 10px 10px 10px;
}

.main_clock>div>div.numero_doble {
    width: 45%;
    font-size: 2em;
    background-color: white;
    border-style: solid;
    border-width: medium;
    border-color: #244d8b;
    color: #244d8b;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}


/* MAIN ICONS */

.main_icons {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.main_icons>div {
    width: 20%;
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_icons>span {
    width: 100%;
    display: inline-block;
}

.main_icons>div>a {
    color: black;
}

.main_icons>div>a>p.numero {
    margin: 0;
    color: black;
    font-size: 2em;
}

.main_icons>div>a>p.texto {
    margin: 0;
    color: black;
    font-size: 1, 5em;
}

.main_icon {
    filter: invert(75%);
    vertical-align: middle;
    max-width: 20%;
    max-height: 15%;
}


/*INFO*/

.main_info {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main_info_txt {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}
/* VER ONLINE */
.main_online {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 25px;
}

.main_online>a>div.bttn_online {
    width: 30%;
    height: 4.5em;
    font-size: large;
    display: inline-block;
    color: white;
    background-color: #2b599d;
    border: 4px solid #2b599d;
    border-radius: 12px;
    padding-bottom: 15px;
}

/*INSCRIBITE*/

.main_inscripcion {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    background-color: black;
}

.main_inscripcion>a>div.bttn_exp {
    width: 30%;
    height: 4em;
    line-height: 4em;
    font-size: large;
    display: inline-block;
    color: white;
    background-color: #2b599d;
    border: 4px solid #2b599d;
    border-radius: 12px;
}

.main_inscripcion>a>div.bttn_inscribite {
    width: 30%;
    height: 5em;
    line-height: 3em;
    font-size: large;
    display: inline-block;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 30px;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
}

.main_inscripcion>div.bttn_hide {
    width: 10%;
    height: 4em;
    line-height: 4em;
    font-size: large;
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.main_inscripcion>a>div.bttn_ade {
    width: 30%;
    height: 4em;
    line-height: 4em;
    font-size: large;
    display: inline-block;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fc1955;
    border: 4px solid #fc1955;
    border-radius: 12px;
}

.main_inscripcion>span {
    width: 100%;
    display: inline-block;
}


/* Noticias */

.main_noticias {
    margin: 20px;
    width: 100%;
    background-image: none;
}

.carousel-noticias {
    width: 60%;
    margin: 0 auto;
}

.carousel-inner {
    height: 400px;
    border-radius: 30px;
}

.carousel-inner .item {
    height: 100%;
}

.carousel-titulo {
    position: absolute;
    top: 15px;
    left: 15px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 20px;
}

.carousel-titulo h1 {
    font-weight: bold;
    color: white;
    display: inline;
}

.carousel-cuerpo {
    position: absolute;
    width: 45%;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 20px;
}

.carousel-cuerpo p {
    display: inline;
    padding: 0.5rem;
    text-align: justify;
    color: #fff;
}

.carousel-img {
    width: 80%;
}

.carousel-control {
    background-image: initial !important;
}


/* End MAIN */


/*CALENDARIO */

.eventos {}

.eventos h1 {
    text-align: center;
    background-color: #2b599d;
    color: white;
    font-size: 4em;
    margin: 0;
}

.eventos li {
    list-style-type: none;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.eventos .foto {
    float: left;
    width: 15%;
}

.eventos .foto img {
    max-width: 90%;
}

.eventos .info {
    text-align: left;
    float: right;
    width: 70%;
}

.evento .contenido {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    background: #b18d73;
    padding-bottom: 5px;
    height: 70px;
    font-size: 0.9em;
    color: white;
}


/* NOVEDADES */

.novedades {
    width: 100%;
}

.novedades h1 {
    text-align: center;
    background-color: #2b599d;
    color: white;
    font-size: 4em;
    margin: 0;
}

.lista-novedades {
    padding-left: 15%;
    width: 80%;
    align-content: center;
}

.novedades li {
    list-style-type: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.novedades .foto {
    float: left;
    width: 25%;
    max-height: 6em;
}

.novedades .foto img {
    max-width: 100%;
}

.novedades .info {
    text-align: left;
    float: right;
    width: 70%;
}

.novedades .contenido {
    text-align: center;
    text-transform: uppercase;
    padding-top: 5px;
    background: #b18d73;
    padding-bottom: 5px;
    height: 70px;
    font-size: 0.9em;
    color: white;
}

/*Noticia*/

.noticia {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.noticia h1 {
    text-align: center;
    background-color: #2b599d;
    color: white;
    font-size: 4em;
    margin: 0;
}

.noticia .noticia-cuerpo {
    width: 70%;
    text-align: center;
    display: inline-block;
}

.noticia .foto {
    width: 40%;
    float: left;
}

.noticia .foto img {
    max-width: 100%;
}

.noticia .epigrafe {
    color: gray;
}

.noticia .info {
    width: 55%;
    float: right;
}

.noticia .info>p {
    text-align: justify;
    font-size: 14pt;
}

/* FOOTER */
footer {
    font-family: Archia;
    background: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

.footer-top {
    height: 150px;
    background-repeat: repeat-x;
    background-size: 850px;
    background-position-x: 50%;
}

.footer-bottom {
    background: #bc3248;
    display: table;
    width: 100%;
    padding-top: 0;
    padding-bottom: 5px;
    background: #801c1a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #801c1a 0%, #dd3a5d 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #801c1a 0%, #dd3a5d 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #801c1a 0%, #dd3a5d 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#801c1a', endColorstr='#dd3a5d', GradientType=0);
    /* IE6-9 */
}

.footer-bottom hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer h4 {
    color: rgb(90, 90, 90);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1em;
    font-weight: normal;
}

footer .social {
    position: absolute;
    top: -18px;
    left: 10%;
}

footer .social span.icon {
    background-color: black;
    width: 34px;
    height: 34px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 12px;
}

footer .social span.icon-facebook {
    background-color: #1691cd;
}

footer .social span.icon-twitter {
    background-color: # dc8e2c;
}

footer .social span.icon-youtube {
    background-color: #c72c75;
}

footer .social span.icon-instagram {
    background-color: #70277d;
}

footer .redes-sociales {
    text-align: center;
    margin-top: 10px;
}

footer .col-md-4 {
    margin-top: 60px;
    margin-bottom: 60px;
    border-left: 2px dotted rgb(0, 0, 0);
}

footer img.logo {
    margin: auto;
    display: block;
    width: 250px;
    margin-top: 30px;
}

footer .redes-sociales span {
    position: relative;
    width: 44px;
    height: 44px;
    opacity: 0.9;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #00000036;
    border-radius: 50%;
}

footer .redes-sociales span:hover {
    opacity: 1;
    background-size: 100%;
}

footer .icon-facebook {
    background: url(../img/icons/facebook.png);
    background-size: contain;
}

footer .icon-twitter {
    background: url(../img/icons/twitter.png);
    background-size: contain;
}

footer .icon-youtube {
    background: url(../img/icons/youtube.png);
    background-size: contain;
}

footer .icon-instagram {
    background: url(../img/icons/instagram.png);
    background-size: contain;
}

footer img.logo-footer {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    position: relative;
    left: -30px;
}

footer .redes {
    margin-top: 40px;
}

.contacto-footer {
    max-width: 300px;
    margin: auto;
}

.logo_unif {
    margin: auto;
    display: block;
    width: 250px;
    filter: invert(10%);
}
/* FIN FOOTER */


/* QUE ES */
.quees h1 {
    text-align: center;
    color: #333;
}

.quees .texto-explicativo {
    text-align: center;
    color: #333;
}

.quees .seccion-preguntas-frecuentes {
    max-width: 900px;
    margin: auto;
    padding: 10px 40px;
    box-shadow: 0 0 20px #00000026;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.quees .preguntas-frecuentes {
    list-style: none;
    padding-left: 0;
}

.quees .collapse.in {
    margin-top: 5px;
    margin-bottom: 10px;
}

.quees .btn-primary {
    color: #fff;
    background-color: #1591cd;
    border-color: #1787bd;
    min-width: 450px;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* FIN QUE ES */


/* inscripcion */
section.inscripcion {
    background: url(./img/background.png);
    width: 100%;
    height: 100%;
    height: calc(70vh - 100px);
    padding-top: 1em;
    background-size: cover;
    display: table;
}

section.inscripcion .inscripcion-container {
    background: #2b599d;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    padding-bottom: 5px;
    z-index: 1;
    color: rgb(7, 7, 7);
}

section.inscripcion .inscripcion-container h2 {
    color: white;
    background: #1c427a;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

section.inscripcion .input-group {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top: 15px;
}

section.inscripcion .input-group>label[for="id_categoria"] {
    /* DESPARECEMOS ESTA LABEL*/
    position: absolute;
    display: none;
}

section.inscripcion .input-group>input {
    width: 80%;
}

section.inscripcion label {
    color: white;
    margin-bottom: 0;
    font-weight: normal;
}

section.inscripcion button {
    color: white;
    background: #1c427a;
    border: none;
    margin: auto;
    font-size: 1.1em;
    padding: 7px 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

section.inscripcion a.signup {
    color: #ddd;
    display: block;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 7px;
}

section.inscripcion a.signup:hover,
section.inscripcion button:hover {
    opacity: 0.9;
    text-decoration: none;
}

.inscripcion-overlay {
    background: #00000075;
    display: block;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 0;
    position: absolute;
    top: 60px;
}

.inscripcion-overlay-ignore {
    z-index: 1;
    position: absolute;
    width: 100%;
}

section.inscripcion .respuesta-container {
    background: #c3ccd1;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    z-index: 1;
    color: rgb(7, 7, 7);
}


/*inscriptos*/
.linea_inscripto {
    width: 100%;
}

.linea_relleno {
    display: inline-block;
    width: 10%;
}

.linea_nombre {
    display: inline-block;
    width: 25%;
}

.linea_documento {
    display: inline-block;
    width: 10%;
    text-align: center;
}

.linea_telefono {
    display: inline-block;
    width: 10%;
    text-align: center;
}

.linea_email {
    display: inline-block;
    width: 25%;
    text-align: left;
}

/* ONLINE */
.centrado{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.centrado>iframe{
    width: 100%;
    height: 500px;
}

/* DEFINICIONES PANTALLA */

@media screen and (orientation: portrait) {
    .portada {
        height: auto;
    }
    .portada img {
        display: none;
    }
    .portada>.mobile {
        display: block;
        text-align: center;
    }
    .portada>.mobile img {
        display: inline-block;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1600px) {
    #slider-container {
        background-position-y: -300px;
    }
}

@media (max-width: 1600px) {
    .main-items .item.height2 .image {
        height: 410px;
    }
    .main-items .item.height2:hover .image {
        height: 350px;
    }
    .main-items .item.height2 {
        height: 550px;
    }
}

@media (max-width: 1300px) {
    #slider-container {
        background-position-y: 0;
        height: 450px;
    }
    #slider-overlay {
        height: 450px;
    }
    #logo-container img.logo {
        position: relative;
        top: -45px;
    }
    .main-items .item.height2 .image {
        height: 350px;
    }
    .main-items .item.height2:hover .image {
        height: 250px;
    }
    .main-items .item.height2 {
        height: 450px;
    }
}

@media (max-width: 1023px) {
    .cont.marca {
        text-align: center;
    }
    .cont.marca .col-md-6 {
        display: table;
        width: 100%;
    }
    .cont.marca .btn.ver-video {
        float: none;
        margin: auto;
    }
    .cont.marca img {
        max-width: 100%;
    }
    #slider-container {
        background-position-y: 0;
        height: 350px;
    }
    #slider-overlay {
        height: 350px;
    }
    #logo-container img.logo {
        position: relative;
        top: -70px;
        width: 150px;
    }
    .titulo-marca .texto,
    .titulo-marca .video {
        display: block;
        width: 100%;
    }
    ul.nav li a {
        padding-right: 6px;
        padding-left: 6px;
    }
}

@media (max-width: 783px) {
    #slider-container {
        background-size: cover !important;
    }
    .main-items .item.height2 {
        height: 650px;
    }
    .main-items .item.height2 .image {
        height: 500px;
    }
    .main-items .item.height2:hover .image {
        height: 500px;
    }
    .main-items .item.height2 .content p {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse.mobile-only {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .navbar-collapse.collapse.in.mobile-only,
    .navbar-collapse.collapse.collapsing.mobile-only {
        display: block !important;
    }
}

@media (max-width: 600px) {
    .main-items .item.height2 .image {
        background-position-y: -200px !important;
    }
}