{% block content %}
    {% if noticias %}
        <div class="main_noticias">
            <div class="carousel-noticias">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {% for noticia in noticias %}
                            <li data-target="#myCarousel" data-slide-to="{{noticia.id}}" {% if forloop.first %}class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        {% for noticia in noticias %}
                            <div class="item{% if forloop.first %} active{% endif %}">
                                <a href="/novedades/{{noticia.id}}">
                                    <div class="carousel-titulo">
                                        <h1>{{noticia.titulo}}</h1>
                                    </div>
                                    <div class="carousel-cuerpo">
                                        <p>{{noticia.cuerpo|truncatewords:20|safe|striptags}} &lt;Leer Nota&gt;</p>
                                    </div>
                                    <img class="carousel-img" src="/archivos/{{noticia.portada}}" alt="{{noticia.epigrafe}}" style="width:100%;">
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <br><br>
    {% else %}
        <h2>No se han cargado noticias destacadas en las novedades</h2>
        <p>Por favor comience a agregar contenido <a href="/admin/novedades/noticia">aqui</a></p>
    {% endif %}
{% endblock %}