{% extends 'base.html' %} 

{% block content %}
    <div class="noticia">
        <h1>{{noticia.titulo}}</h1>
        <div class="noticia-cuerpo">
            <br>
            <div class="foto">
                <img src="/archivos/{{noticia.portada}}">
                <p class="epigrafe">{{noticia.epigrafe}}
            </div>
            <div class="info">
                {{ noticia.cuerpo|safe }}
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}