{% extends 'base.html' %} 

{% block content %}
    <div class="novedades">
        {% if noticias %}
            <h1>Novedades </h1>
            <hr>
            <div class="lista-novedades">
                <ul>
                    {% for noticia in noticias %}
                    <li>
                        <div class="foto">
                            <a class="novedad-link" href="{{noticia.id}}">
                                    <img src="/archivos/{{noticia.portada}}">
                            </a>
                        </div>
                        <div class="info">
                            <h2 class="titulo">{{noticia.titulo}}</h2>
                            <p>{{ noticia.cuerpo|truncatewords:35|safe }}</p>
                            <p style="text-align: right;">
                                <a href="{{noticia.id}}">
                                    &lt;Leer Nota&gt;
                                </a>
                            </p>
                        </div>
                    </li>
                    <br>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <br><br> 
{% endblock %}