{% extends 'base.html' %}

{% block title %}Inscripcion{% endblock %}

{% block content %}
<section class="inscripcion">  
  <div class="inscripcion-container">
    <h2>Inscribase al Evento Jujuy Big Data Summit</h2>
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="input-group">
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color:black">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit">Registrarse</button>
      </form>
  </div>
</section>
{% endblock %}